$m: #d63384;
$m05: rgba($m, 0.05);
$m15: rgba($m, 0.15);
$m50: rgba($m, 0.5);

#app {
  background-color: lightsteelblue;
}

#main {
  margin: 0 auto;
  width: 66vw;
}

#preview blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: $m50;
  font-size: 4em;
  position: relative;
  right: 5px;
  top: 30px;
  line-height: 0px;
  padding-right: 10px;
  padding-left: 5px;
}
#preview blockquote {
  border-left: 3px solid $m;
  margin-left: 10px;
  margin-top: 10px;
  font-style: italic;
  color: #333;
  display: flex;
  flex-direction: column;

  background-color: $m15;
}
#preview blockquote > * {
  margin: 0;
  padding: 0 10px 0 45px;
}

#preview pre {
  max-height: 33vh;
  max-width: 80vw;
  overflow: auto;
}

#editor {
  height: calc(100% - 85px);
  font-size: 14px;
  background-color: rgb(210, 230, 255);
  color: #272822;
}

.editor-area {
  height: 50vh;
  width: 100%;
}
#preview {
  height: 50vh;
  width: 100%;
  overflow-y: auto;
}

#preview > p > code {
  padding: 5px;
  border-radius: 0.3em;
  background-color: $m15;
}

.arrow {
  color: magenta;
  font-weight: 900;
}
